<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>83587303546-nok035j3h2qlct9bsv01vus9gue2lp85.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.83587303546-nok035j3h2qlct9bsv01vus9gue2lp85</string>
	<key>API_KEY</key>
	<string>AIzaSyD6PdrX3xK10ce3edkAKrVcYD4mm2fpC98</string>
	<key>GCM_SENDER_ID</key>
	<string>83587303546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sprintsols.Pajita</string>
	<key>PROJECT_ID</key>
	<string>pajita-63a2d</string>
	<key>STORAGE_BUCKET</key>
	<string>pajita-63a2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83587303546:ios:3315286c7c5c5e342ed3c3</string>
	<key>DATABASE_URL</key>
	<string>https://pajita-63a2d.firebaseio.com</string>
</dict>
</plist>